body{
    background-color: black;
    background-size: cover;
    max-width: 100%;
    height: auto;
    width: auto;
}

.box img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }