* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
  }
  
  .header {
    background-color: #FCCBBC;
    /*#FCCBBC*/
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 100%px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 20 80px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 100px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    position: relative;
	  display: inline-block;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #f3b39f;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
 input{
    width: 80%;
    padding: 5px;
    font-size: 16px;
    margin: 10px;
    color: rgb(0, 0, 0);
    /*border-bottom: 1px solid #ffc5c5;*/
    display: inline-block;
}
/* Submenu*/

.submenu{
	position: absolute;
	background: #FCCBBC;
	width: 200%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
  margin-right: 0px;
}

.submenu li a{
	display: flex;
	padding: 10px;
	color: rgb(0, 0, 0);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
	text-decoration: none;
}
.submenu li a:hover{
	color: #f3b39f;
	transition: all .3s;
}

.nav li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*Categorias*/
.categorias{
	position: absolute;
	background: #FCCBBC;
	width: 200%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
  margin-right: 0px;
}

.categorias li a{
	display: flex;
	padding: 1px;
	color: rgb(0, 0, 0);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
	text-decoration: none;
}
.categorias li a:hover{
	color: #f3b39f;
	transition: all .3s;
}

.nav li:hover .categorias{
	visibility: visible;
	opacity: 1;
}

ul{
  list-style-type: none;
}