.body{
    background-color: #f7d7cd;
}
.resetspace{
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    max-width: 100%;
    height: 1000px;
    width: 100%;
    max-height: auto;
}

.recet{
    border: 1px solid;
    height: 180px; 
    width: 200px;
    margin:20px; 
    background-color:rgb(255, 255, 255);
    font-size: 20px;
    text-align:center;
    padding-top: 20px; 
    word-wrap:break-word;
    border-radius: 20px;
    display: inline-table;
}
.recet p{
    vertical-align: text-bottom;
}

a{
    color: inherit;
} 

a:hover{
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;  
}

.recet img{
    width: 90%;
    height: auto;
}

.recet:hover{
    background-color:#f0b5a3; 
    text-decoration:none; 
    cursor:pointer;  
}

.boton1{
    border: none;
    outline:none;
}

#titulo{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding: 15px;
}